body {
    background: url("images/constructive-backdrop.jpg") no-repeat center fixed;
    background-size: cover;
}

#text-box {
    width: 320px;
    height: 350px;
    margin-left: 3em;
    margin-top: 3em;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    background-color: white;
}

h1 {
    margin-top: 0em;
    height: 175px;
    background: url(images/constructive-logo.gif)
}

h3 {
    text-align: center;
    font-size: 2em;
}

p {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 2em;
}